/* ==== Global ==== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0d0d0d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* ==== Container ==== */
.auth-container {
    background: #1a1a1a;
    width: 380px;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
    animation: fadeIn 0.3s ease;
}

/* Animasi simple */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0); }
}

.auth-container h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #E10600;
    letter-spacing: 1px;
}

/* ==== Form ==== */
.auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-form label {
    font-size: 14px;
    margin-bottom: -8px;
    color: #f2f2f2;
}

.auth-form input {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #444;
    background: #111;
    color: white;
    font-size: 14px;
    outline: none;
    transition: 0.2s;
}

.auth-form input:focus {
    border-color: #E10600;
    box-shadow: 0 0 5px #e10600a4;
}

/* ==== Tombol ==== */
.btn {
    padding: 12px;
    margin-top: 10px;
    background: #E10600;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #b10500;
}

/* ==== Link Switch ==== */
.switch {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.switch a {
    color: #E10600;
    text-decoration: none;
    font-weight: bold;
}

.switch a:hover {
    text-decoration: underline;
}
