.cal-title {
text-align: center;
font-size: 32px;
margin: 20px 0;
color: #e10600;
font-weight: bold;
letter-spacing: 1px;
}


.cal-table {
width: 90%;
margin: auto;
border-collapse: collapse;
font-family: Arial;
font-size: 18px;
}


.cal-table th {
background: #e10600;
color: white;
padding: 12px;
text-align: left;
}


.cal-table td {
padding: 12px;
border-bottom: 1px solid #ccc;
}


.cal-table tr:hover {
background: #f8d7d7;
transition: 0.2s;
}