/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
}

/* HEADER */
.header {
    width: 100%;
    background: #d60000;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo { width: 50px; }

.brand {
    font-size: 26px;
    font-weight: bold;
    margin-left: 10px;
}

.nav-menu a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-menu a:hover { opacity: 0.7; }

.icon {
    width: 28px;
    margin-left: 20px;
}

/* FAQ CONTENT */
.faq-title {
    text-align: center;
    margin: 35px 0;
    font-size: 30px;
}

.faq-box {
    width: 85%;
    max-width: 650px;
    margin: auto;
}

.faq-item {
    margin-bottom: 14px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
}

/* BUTTON */
.faq-question {
    width: 100%;
    text-align: left;
    padding: 15px;
    background: #f2f2f2;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.faq-question:hover {
    background: #e8e8e8;
}

/* ANSWER */
.faq-answer {
    padding: 15px;
    display: none;
    font-size: 16px;
    background: white;
    border-top: 1px solid #ddd;
}